
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/dist/css/bootstrap.min';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap-icons/font/bootstrap-icons';

a {
  text-decoration: none;
}

.roboto {
  font-family: monospace
  }
